 body {
   font-size: 14px;
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
 /* background:#ff001c; 

   background: linear-gradient(to right, rgba(255,0,28,1), rgba(204,0,0,1));*/
   background: linear-gradient(-90deg, rgba(204,0,0,1), rgba(255,0,28,1));
}
a {
  color: #e74c3c;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  color: #e76c3c;
}
.row {
  padding: 80px 0px;
}
.btn {
  border: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-transform: uppercase;
  border-radius: 0;
}
 
 
.container-wrapper {
	width: 60%;
	margin: 0 auto;
	/* margin-bottom: 12%; */
	margin-top: 5%;
} 
 .well { background:#fff; }
 
 
 input.form-control, select.form-control { margin-bottom:20px; }
 
 
 
 /*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
 }

body {
	font-family: montserrat, arial, verdana, Open Sans, FontAwesome;
}
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	/*background: white;*/
	border: 0 none;
	border-radius: 3px;
	/*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
	padding: 20px 1px;
	
	box-sizing: border-box;
	width: 99%;
	margin: 0 1%;
	
	/*stacking fieldsets above each other*/
	position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: "Open Sans";
	color: #2C3E50;
	font-size: 15px;
}
/*buttons*/
#msform .action-button {
	width: 150px;
	background: #27AE60;
	font-weight: 100;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 0px;
	font-family: FontAwesome, "Open Sans";
	text-transform: uppercase;
	font-size: 16px;
}
#msform .action-button:hover, #msform .action-button:focus, #msform input.next.action-button:hover{
	/* box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #fec516;
	background:#00ff30 !important;*/
	opacity: 0.9;
} 
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: rgba(255,255,255,0.7);
	text-transform: uppercase;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative;
}
#progressbar li.active {color: rgba(255,255,255,1);}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	line-height: 50px;
	display: block;
	font-size: 20px;
	color: #333;
	background: #fff/*rgba(255,255,255,0.7)*/;
	border-radius: 3px;
	margin: 0 auto 20px auto;
	font-family: FontAwesome, "Open Sans";
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%; /*to remove the line between cicles*/
	height: 2px;
	  background: white; 
	position: absolute;
	left: -50%;
	top: 25px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: #fff;

}

#msform fieldset.country-panel {
  background: none;
    box-shadow: none;  
}


#countryOK { display:none;}


.fs-main-title, .fs-main-title-final {
 	color: #fff;
	font-size: 23px;
	margin-bottom: 30px;
	font-family: FontAwesome, "Open Sans";
	font-weight: 100 !important;
 }


#preview img {
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 85%;
}

#appname {
	color: #787878;
	width: 180px;
	padding: 8px 20px;
	background: #fff;
	text-transform: uppercase;
	display: block;
	float: right;
	font-weight: bolder;
	font-size: 23px;
	line-height: 30px;
}

#logoimg {
	width: 235px;
}

#logo-legend {
 	width: 455px;
	margin: 0 auto 8%;
	border: none;
 }

 #progressbar li::before {
	border-radius: 30px;
}

.footer {
	/*position: absolute;
	bottom: -20px;
	left: 20%;*/
	
	color: #ffffff;
	margin: 50px auto;
	width: 60%;
	font-family: FontAwesome, "Open Sans";
	font-weight: 100 !important;
	padding-bottom: 10px;
}

.footer-right-block {
	float: right;
	display: inline;
}

.footer-left-block {
	float: left;
	
}
select#country, select#company_name {
    height: 60px;
    padding: 5px 30px;
    font-size: 18px;
    font-family: "Open Sans";
}
#msform input, select#country, select#company_name {box-shadow:/* 0 15px 30px rgba(0,0,0,0.1);*/0 4px 18px rgba(0,0,0,0.1); border-radius: 10px;}
select#company_name{border-radius: 10px !important;}
#country option {
	padding: 5px 30px;
}

#country, select#company_name {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/down_arrow.png");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 20px;
    border-radius: 2px;
    cursor: pointer;
}
#msform input.previous.action-button{background: transparent !important; float: left; box-shadow: none !important; 
	font-size: 16px;}
#msform input.next.action-button{background: #fec516 !important; float: right; color: #333333 !important; box-shadow: none !important; border-radius: 5px; font-size: 15px;}
#confirm-info-prev ul li {
	font-size: 18px;
	text-align: left;
	list-style-type: none;
	padding: 15px 20px;
	border-bottom: 1px solid rgba(179,179,179,0.6);
}
#confirm-info-prev{background: #ffffff; border-radius: 10px;}
#confirm-info-prev ul li label {width: 30%; color: #3e4652; font-weight: bold; font-size: 16px;}
#confirm-info-prev ul li span {
	color: #3e4652;
	font-size: 21px;
	font-family: "Open Sans";
	font-weight:100;
}
#confirm-info-prev ul li:last-child{border-bottom: none;}
#confirmInfobtn, #btn_continue {
	float: right;
	border-radius: 5px !important;
	background: #fec516 !important;
	color: #333333 !important;
}
#confirm-info-prev ul {
	padding: 10px 30px;
}
#downloadFinal {
	float: right;
	background: #fec516 !important;
	color: #333333 !important;
	border-radius: 5px !important;
	text-decoration: none;
}
.fa.fa-asterisk {
	position: absolute;
	color: rgba(255,0,28,1);
	right: 5px;
	font-size: 9px;
	z-index:99;
	top:4px !important;
}
.span1 .fa.fa-asterisk {
	top: 05%;
}
.span2 .fa.fa-asterisk {	
	top: 24%;
}
.span3 .fa.fa-asterisk {
	top: 58%;
}
#downloadFinal span {
	padding-left: 10px;
}
input.previous.action-button {
    text-align: left;
}
.fa-copyright:before {
  font-family: "Open Sans";
  content: '©';
}
.mid-canves {
    height: 500px;
}
#progressbar li.current::before {
    background: #27AE60;
}

.placeholder_err::-webkit-input-placeholder {color: #ee0013; opacity:0.9; /* Chrome/Opera/Safari */}
.placeholder_err::-moz-placeholder {color: #ee0013; opacity:0.9;/* Firefox 19+ */}
.placeholder_err:-ms-input-placeholder {color: #ee0013; opacity:0.9;/* IE 10+ */ }
.placeholder_err:-moz-placeholder {color: #ee0013; opacity:0.9;/* Firefox 18- */ }

.fieldWrap {
  width: 100%;
  float: left;
  margin: 20px;
}
.fieldWrap > div {
  position: relative;
  overflow: hidden;
}
/*.fieldWrap .input-inner input{
  width: 100%;
  border: 2px solid gray;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}*/
.fieldWrap .input-inner input:valid{
  background: #ffffff;
}
.fieldWrap .input-inner input{
  border-color: #f06d06;
}
.fieldWrap .input-inner input + label{
  background: #d6d6d6;
  color: rgba(42, 62, 62, 0.8);
  font-size: 80%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;	
}
.fieldWrap .input-inner label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}

.fieldWrap .input-inner input{
  padding: 12px 12px 12px 12px;
}
.fieldWrap .input-inner label {
  top: 10px;
  /*bottom: 0;*/
  left: 0px;
  width: 100%;
  text-align:left;
}
.fieldWrap .input-inner input{
  padding: 4px 6px 20px 6px;
}
.fieldWrap .input-inner input+ label {
	top: 40%;
	margin-top: -25px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.fieldWrap .input-inner input:focus + label {
	display:none;	
}
 

@media only screen and (max-width: 768px) {

.container-wrapper {
    width: 90%;
}
#appname{
	width:150px;
	font-size: 19px;
	line-height: 22px;
}
#logoimg {
    width: 160px;
}
#logo-legend{
	width:100%;	
}
.fs-main-title, .fs-main-title-final{
	font-size: 15px;	
}
#progressbar li:before{
	width: 30px;
    line-height: 30px;
	font-size: 12px;	
}
#progressbar li{
	font-size:10px;
}
select#country{
	font-size:16px;	
}
.footer{
	position:relative;
	margin-top: 450px;
	width:100%;
	left:0px;
}
.footer-left-block, .footer-right-block {
    width: 100%;
	text-align:center;
}
#msform .action-button {
    height: 35px;
    width: 130px;
    font-size: 13px;
	padding: 8px 5px;
}
.fa.fa-asterisk{
    right: -9px;		
}
.span3 .fa.fa-asterisk{
	top: 62%;
}
#progressbar li:after{top: 15px;}
#confirm-info-prev ul {
    padding: 0px 10px;
}
#confirm-info-prev ul li{padding: 10px 16px;}
#confirm-info-prev ul li label {
    width: 40%;
    font-size: 11px;
}
#confirm-info-prev ul li span {
    font-size: 17px;
}
#msform input.previous.action-button{font-size: 14px;}
.mid-canves {
    height: auto;
}
.fieldWrap {
    margin: 0 auto;
}
#preview img {
	width: 100%;
}
.required-field {
	position: absolute;
	right: 10px;
	z-index: 9999;
	top: 3px;
}
.fa.fa-asterisk {
	z-index: 9999 !important;
	color: rgba(255,0,28,1);
}

}
@media only screen and (max-width: 480px) {
#logoimg {
	width: 130px;
}	
}